"""{{ project_name }} package registering CustomEnv with Farama Gymnasium."""

from gymnasium.envs.registration import register

from .env.gym_env import CustomEnv

__all__ = ["CustomEnv"]

# Register environment with Gymnasium
register(
    id="{{ package_name }}-v0",
    entry_point="{{ package_name }}.env:CustomEnv",
    max_episode_steps=100,
)
